version: "3.8"

services:
  n8n:
    image: n8nio/n8n:latest
    restart: always
    volumes:
      - n8n_data:/home/node/.n8n
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.rule=Host(`test.mondomaine.com`)"
      - "traefik.http.routers.n8n.entrypoints=websecure"
      - "traefik.http.routers.n8n.tls.certresolver=le"
    networks:
      - proxy

volumes:
  n8n_data:

networks:
  proxy:

    external: true

